/* === DESIGN SYSTEM === */
:root {
	--color-main: #f690ae;
	--color-border: #98C6FE;
	--color-text: #D54E33;
	--color-buttons: #FFEB6D;
	--color-cards: #FFF9EC;
	--color-disabled: #fff5b5;
	--color-disabled-text: #fd8f79;


	/* Typography */
	--font-body: 'Public Sans', sans-serif;
	--font-header: "rl-horizon", serif;
	--font-size-sm: 1rem;
	--font-size-md: 1.25rem;
	--font-size-ml: 2rem;
	--font-size-lg: 4rem;
	--font-size-xl: 7rem;
	--font-weight-bold: 600; 

	/* Layout */
	--space-sm: 0.5rem;
	--space-md: 1.5rem;
	--space-ml: 2rem;
	--space-lg: 4rem;
	--space-xl: 6rem;
	--radius: 1rem;
	--image-size: clamp(5rem, 10vw, 8rem); /* Learnt this during my last project https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/clamp */
	--card-height: clamp(25rem, 60vh, 40rem);
	--card-width: clamp(15rem, 80vw, 60rem);
	--button: 2.5rem;
	--border-size: 0.3rem;
}



/* === BASE STYLES === */
html,
body {
	height: 100%;
}

body {
	overflow: hidden;
	width: 100%;
	padding: var(--space-sm);
	color: var(--color-text);
	height: 100dvh;

	/* Resource for gradient background https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/gradient/repeating-linear-gradient*/
	/* https://claude.ai/share/da9b2718-d050-490e-82a4-88e4321a78ea */

	background:
		repeating-linear-gradient(0deg,
			var(--color-text) 0,
			var(--color-text) var(--space-sm),
			transparent var(--space-sm),
			transparent var(--space-lg)),

		repeating-linear-gradient(90deg,
			var(--color-text) 0,
			var(--color-text) var(--space-sm),
			transparent var(--space-sm),
			transparent var(--space-lg)),
			var(--color-main);

	a {
		text-decoration: underline;
	}

	p {
		line-height: 130%;
		font-size: var(--font-size-sm);
		font-family: var(--font-header);
	}
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--space-sm);
	justify-content: center;
	height: 100dvh;
}

/* === NAVIGATION/BUTTONS === */

.navigation {
	display: flex;
	padding-block-start: var(--space-ml);
	gap: var(--space-sm);
	justify-content: center;
	align-items: center;
	grid-column: 1;
	grid-row: 2;
	position: absolute;
	margin-block-start: var(--space-ml);

	button {
		border-radius: var(--button);
		padding: var(--space-sm);
		background-color: var(--color-buttons);
		font-size: var(--font-size-md);
		font-family: var(--font-body);

		&:disabled {
			background-color: var(--color-disabled);
			color: var(--color-disabled-text);
		}
	}

	.back-button {
		aspect-ratio: 1;
		width: var(--button);
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: var(--space-md);
			height: var(--space-md);
		}
	}
}

/* create plate buttons on sweet screen */
#create-plate {
	display: none;
}

.Plate:has(.Sweet.modal.current) #create-plate {
	display: block;
}

/* === CARD / MODAL === */
.modal {
	display: none;
	border-radius: var(--radius);
	border: var(--border-size) solid var(--color-border);
	background-color: var(--color-cards);
	list-style: none;
	gap: var(--space-sm);
	height: var(--card-height);
	width: var(--card-width);
	justify-content: center;
	padding: var(--space-md);

	.category-title {
		display: flex;
		flex-direction: column;
		gap: var(--space-sm);
		padding-block: var(--space-md);
		

		h3 {
			font-family: var(--font-header);
			font-size: var(--font-size-md);
			font-weight: var(--font-weight-bold);
			text-align: center;
		}
	}

	/* === HOME PAGE === */

	&.home {
		.home-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-block-start: calc(var(--space-lg) * -1);
			text-align: center;
		}

		h1 {
			font-family: var(--font-header);
			font-size: var(--font-size-lg);
			font-weight: var(--font-weight-bold);
			color: var(--color-main);
			line-height: 90%;
		}

		h2 {
			font-family: var(--font-body);
			font-size: var(--font-size-sm);
			padding-block-start: var(--space-md);
			font-weight: var(--font-weight-bold);
			line-height: 135%;
		}
	}

	/* === ANIMATIONS === */

	&.current {
		display: flex;
		flex-direction: column;
		animation: slide-in 0.2s ease-out;

		/* animation none https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/animation */
		&:last-child {
			animation: none;
		}
	}
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/At-rules/ */
@keyframes slide-in {
	from {
		transform: translateX(10%);
	}

	to {
		transform: translateX(0);
	}
}

/* === IMAGE/GRID === */
.Plate {
	position: relative;
	width: var(--card-width);
	height: var(--card-height);
	display: grid;
	place-items: center;
	grid-template-rows: 1fr auto;
}

/* this is my reference for the swipe style animation https://www.youtube.com/watch?v=jdB-PQY5j-I*/
#data-list {
	z-index: 1;
	grid-column: 1;
	grid-row: 1;
	margin-block-start: calc(var(--space-lg) * -1);

	ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--space-sm);
		padding-block-end: var(--space-md);
		justify-items: center;
		align-items: center;

		li {
			display: flex;
			/* added an invisable border here so that the items don't jump around inside the li when selected*/
			width: var(--image-size);
			height: var(--image-size);
			align-items: center;
			justify-content: center;
			border: var(--border-size) solid transparent;
			border-radius: var(--radius);
			justify-content: center;
			overflow: hidden;
			aspect-ratio: 1;


			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			&.active {
				border-color: var(--color-border);
			}
		}
	}
}

/* === DECORATIVE CARDS BEHIND === */
.decorative-cards {
	position: relative;
	height: var(--card-height);
	width: var(--card-width);
	grid-column: 1;
	grid-row: 1;
	z-index: 0;
	margin-block-start: calc(var(--space-lg) * -1);
}

.card-1,
.card-2,
.card-3 {
	position: absolute;
	inset: 0;
	/* Relative units way to write top:0, bottom: 0 https://claude.ai/share/c47f41d0-b4f3-4895-a482-01396888f163 */
	border-radius: var(--radius);
	border: var(--border-size) solid var(--color-border);
	background-color: var(--color-cards);
	z-index: 0;
}

.card-1 {
	transform: rotate(12deg);
}

.card-2 {
	transform: rotate(8deg);
}

.card-3 {
	transform: rotate(4deg);
}

/* Since thee cards are decorative - and the modals and cards are siblings, I thought about using the has selector here to remove it when the user gets to sweets, learnt this from previous projects and used the MDN resource to figure out how to write it properly https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:has*/

.Plate:has(.home.modal.current) {
	.back-button {
		display: none;
	}
	.navigation {
		inset-block-end: var(--space-lg);
		z-index: 10;
		min-height: 5rem;
	}
}
.Plate:has(.Crunch.modal.current) {
	.card-1 {
		display: none;
	}
}
.Plate:has(.Sweet.modal.current) {
	.next-button {
		display: none;
	}
	.card-1,
	.card-2 {
		display: none;
	}
}
.Plate:has(.Output.modal.current) {
	.card-1,
	.card-2,
	.card-3 {
		display: none;
	}
} 
/* === STEPS === */
.steps {
	position: fixed;
	inset-block-start: var(--space-xl);
	inset-inline-start: 50%;
	transform: translateX(-50%);
	gap: var(--space-lg);
	background-color: var(--color-cards);
	padding: var(--space-sm);
	border-radius: var(--radius);
	font-family: var(--font-body);
	font-size: var(--font-size-sm);
	
	.step-active {
		background-color: var(--color-border);
		border-radius: 50%;
		color: var(--color-main);
	}
}



/* === OUTPUT === */
body:has(.Output.modal.current) {
	background-color: var(--color-text);
}
.Output.modal {
	background-color: transparent;
	border: none;
	align-items: center;
	justify-content: center;
	gap: var(--space-md);
	text-align: center;
	color: var(--color-main);

	.output {
		position: relative;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: var(--space-md);
		gap: var(--space-sm);
		border: var(--border-size) solid var(--color-border);
		border-radius: var(--radius);
		width: var(--card-width);
		margin-block-start: var(--space-lg);
		background-color: var(--color-main);

		li {
			overflow: hidden;
		}
		img {
			object-fit: cover;
			display: block;
			aspect-ratio: 1;
			border-radius: var(--radius);
			background-color:var(--color-cards);
		}

		p {
			display: none;

			&:first-of-type {
				display: block;
				font-size: var(--font-size-lg);
				font-family: var(--font-header);
				color: var(--color-cards);
				text-transform: capitalize;
				padding-block-end: var(--space-lg);
				position: absolute;
				margin-block-start: calc(var(--space-xl) * -1); 
				inset-inline-start: 50%; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/inset-inline-start */
				transform: translateX(-50%);
			}
		}		
	}

	.category-title {
		align-items: center;
		padding-block-start: 0;

		h1 {
			font-family: var(--font-header);
			font-size: var(--font-size-lg);
			color: var(--color-cards);
			line-height: 90%;
		}

		/* "Girl Dinner Vibe" label */
		.vibe-label {
			font-family: var(--font-header);
			font-size: var(--font-size-md);
		}
	}

	.plate-description {
		color: var(--color-cards);
		font-family: var(--font-body);
	}
	/* https://claude.ai/share/49155ede-3852-46de-8d97-e76df4bbbb0b and https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:has for selecting the body background on only the output modal */
}
/* === RESPONSIVE === */

@media (min-width: 768px) {

	.Plate, .decorative-cards, .modal {
		width: var(--card-width);
	}

	.modal.home {
		.home-content {
			flex: 1;
			justify-self: center;
			align-items: center;
		}
		h1 {
			font-size: var(--font-size-xl);
		}
		h2 {
			font-size: var(--font-size-md);
			max-width: 50ch;
		}
	}
	.modal .category-title {
		h3 {
			font-size: var(--font-size-ml);
		}
	}
	#data-list ul {
	grid-template-columns: repeat(5, 1fr);
	justify-content: space-between;
}
.Output.modal {
	margin-block-start: -5rem;

.output {
		width: 30rem;
		padding: var(--space-sm);
		gap: var(--space-sm);
	}
}
	.Plate:has(.Output.modal.current) .navigation {
	padding-block-start: var(--space-lg);
}
}

@media (min-width: 1200px) {
/* Learnt that you can add root variables at every breakpoint to adjust sizing https://css-tricks.com/responsive-designs-and-css-custom-properties-defining-variables-and-breakpoints/ */
	:root {
	--font-size-sm: 1.25rem;
	--font-size-md: 1.5rem;
	--font-size-ml: 2.5rem;
	--font-size-lg: 5rem;
	--font-size-xl: 9rem;
	--image-size: 8rem;
}
	.Plate, .decorative-cards, .modal {
		width: 65vw;
		height: 65vh;
	}
}

/*CSS Organization - https://claude.ai/share/d88a981a-c2ea-41fc-b3da-aea6661cd832 */